/** **************************************
* Fonts: app
*************************************** */
@import "@fontsource-variable/dm-sans";

@import "@fontsource/barlow/400.css";
@import "@fontsource/barlow/500.css";
@import "@fontsource/barlow/600.css";
@import "@fontsource/barlow/700.css";
@import "@fontsource/barlow/800.css";

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import "./components/scrollbar/styles.css";

/* chart */
@import "./components/chart/styles.css";

/** **************************************
* Scrollbar nativo
*************************************** */
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

:root[data-theme="light"] * {
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

:root[data-theme="light"] *::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
}

:root[data-theme="light"] *::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

:root[data-theme="dark"] * {
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

:root[data-theme="dark"] *::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

:root[data-theme="dark"] *::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

